<h1><%=t('titles.conf_units.edit')-%></h1>

<% form_for @conf_unit do |f| %>

<%= f.error_messages %>

<% if @conf_unit.parent %>
<p>
  <label><%=t 'activerecord.attributes.conf_unit.parent' -%></label>
  <%=h @conf_unit.parent.name %>
</p>
<% end %>

<p>
  <label><%=t 'activerecord.attributes.conf_unit.name' -%></label>
  <%= f.text_field :name %>
</p>

<p>
  <label><%=t 'activerecord.attributes.conf_unit.kind' -%></label>
  <%= f.select :kind, CONF_UNIT_KINDS.keys.sort.map{|k| [t("conf_unit_kinds.#{k}"),k]} %>
  ( <%=t 'misc.conf_unit_type_change_warning' -%> )
</p>

<p>
  <label><%=t 'activerecord.attributes.conf_unit.broken' -%></label>
  <%= f.check_box :broken %>
</p>

<p>
  <%= f.submit t('actions.update') %>
</p>

<% end %>

<%= link_to t('actions.show'), conf_unit_path(@conf_unit) -%> |
<%= link_to t('actions.to_list'), conf_units_path -%>
