<h1><%=t 'titles.conf_units.conf_unit_kinds_config_file' -%></h1>

<pre><%= @config_text -%></pre>

<h1><%=t 'titles.conf_units.ru_locale_file' -%></h1>

<pre><%= @locale_text -%></pre>

<%= link_to t('actions.to_list'), conf_units_path -%>

